proxmox_api_url = "https://192.168.1.50:8006/api2/json"
proxmox_api_token_id = "root@pam!example"
proxmox_api_token_secret = "ujrgefad-6348-47a7-h5h5-kkued51b74cd9"
proxmox_target_node = "example-node"
proxmox_host = "192.168.1.50"
proxmox_ssh_user = "root"
proxmox_ssh_password = "super-secret-password"

# K3s
k3s_token = "duLUjMH_M7oBYKA00SOGK_Dyx3Ip3F-Mru6LICVbqMvzSzsv_-80IjVlS6O6vaWx0ocupVYEziHmOoRzOn84oA"

# Public SSH Keys
max_user_public_key = "ssh-ed25519 iovfuhr9283y5f2hb9834f82firbngfp9245hgtbghb56433hg65"

# Passwords
root_user_password = "super-secret-password"
max_user_password = "super-secret-password"
